canvas {
    border: solid black;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    max-width: 1000px;
    width: 99%;
}
#color {
    margin: auto;
    display: block;
    margin-bottom: 10px;
}
#width {
    margin: auto;
    display: block;
    margin-bottom: 10px;
}
#timer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    display: block;
    width: 10%;
    text-align: center;
    margin: auto;
}