canvas {
    border: solid black;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    max-width: 1000px;
    width: 99%;
}
#color {
    margin: auto;
    display: block;
    margin-bottom: 10px;
}
#width {
    margin: auto;
    display: block;

}